#container{
  width: 50px;
  height: 33px;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}

.ciao{
  height: 33.49px;
  width: 6.666px;
  background-color: black;
  z-index: 10;
}

.ciaone{
  height: 6.666px;
  width: 30.007px;
  background-color: black;
  z-index: 10;
}

.uno{
  position: absolute;
  left: 14%;
}

.due{
  position: absolute;
  right: 14%;  
}

.tre{
  position: absolute;
  right: 0%;
}

.quattro{
  position: absolute;
  bottom: 0%;
}

.piccolo{
  width: 9.993px;
  height: 6.666px; 
  background-color: black;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}